<div>
  <div class="container-fluid px-4 px-xl-5 py-4">
    <div class="card border-0 shadow-lg">
      <!-- HEADER -->
      <div
        class="card-header bg-primary bg-gradient text-white d-flex justify-content-between align-items-center"
      >
        <h4 class="mb-0 fw-semibold">Gestión de Usuarios</h4>
        <span class="badge bg-light text-primary">{{ usuarios.length }} registros</span>
      </div>
      <div class="card border-0 shadow-lg">
        <!-- HEADER -->
        <div class="card-header bg-primary text-white d-flex align-items-right">
          <button class="btn btn-success btn-sm rounded-pill px-3 shadow-sm" (click)="AddUsuario()">
            <i class="bi bi-plus-lg me-1"></i> Agregar
          </button>
        </div>

        <!-- BODY -->
        <div class="card-body p-0">
          <div class="table-responsive-xl">
            <table class="table table-hover align-middle table-striped">
              <!-- HEAD -->
              <thead class="table-dark text-center small text-uppercase">
                <tr>
                  <th>#</th>

                  <th>Perfil</th>
                  <th style="min-width: 260px">Información</th>
                  <th class="d-none d-lg-table-cell">Contacto</th>
                  <th class="d-none d-lg-table-cell" style="min-width: 200px">Rol</th>
                  <th class="d-none d-lg-table-cell" style="min-width: 400px">Direcciones</th>
                  <th class="d-none d-lg-table-cell">Estado</th>
                  <th style="min-width: 150px">Acciones</th>
                </tr>
              </thead>

              <!-- BODY -->
              <tbody>
                @for (usuario of usuarios; track usuario.IdUsuario) {
                  <tr>
                    <!-- ID -->
                    <td class="text-center fw-bold text-muted">
                      <i class="bi bi-hash"></i> {{ usuario.IdUsuario }}
                    </td>

                    <!-- PERFIL -->
                    <td class="text-center">
                      <div class="d-flex flex-column align-items-center">
                        @if (usuario.ImagenFile && usuario.ImagenFile.trim() !== '') {
                          <img
                            src="data:image/jpeg;base64,{{ usuario.ImagenFile }}"
                            class="rounded-circle border shadow-sm mb-2"
                            width="70"
                            height="70"
                            style="object-fit: cover"
                          />
                        } @else {
                          <div
                            class="bg-secondary text-white rounded-circle d-flex justify-content-center align-items-center mb-2"
                            style="width: 70px; height: 70px"
                          >
                            <i class="bi bi-person-fill fs-4"></i>
                          </div>
                        }

                        <div class="fw-semibold small text-center">
                          <i class="bi bi-person-badge me-1"></i>
                          {{ usuario.UserName || 'Sin usuario' }}
                        </div>
                      </div>
                    </td>

                    <!-- INFORMACIÓN -->
                    <td>
                      <div class="small d-flex flex-column gap-1">
                        <div class="fw-semibold">
                          <i class="bi bi-person-vcard me-1"></i>
                          {{ usuario.Nombre }} {{ usuario.ApellidoPaterno }}
                          {{ usuario.ApellidoMaterno }}
                        </div>

                        <div class="d-flex gap-2">
                          <span
                            class="badge border"
                            [ngClass]="
                              usuario.Sexo === 'MM'
                                ? 'bg-primary-subtle text-primary'
                                : 'bg-danger-subtle text-danger'
                            "
                          >
                            <i
                              class="me-1"
                              [ngClass]="
                                usuario.Sexo === 'MM' ? 'bi bi-gender-male' : 'bi bi-gender-female'
                              "
                            >
                            </i>

                            {{ usuario.Sexo === 'MM' ? 'MASCULINO' : 'FEMENINO' }}
                          </span>
                        </div>

                        <div class="text-muted">
                          <i class="bi bi-card-text me-1"></i>
                          CURP: {{ usuario.CURP }}
                        </div>
                        <div class="text-muted">
                          <i class="bi bi-card-text me-1"></i>
                          Fecha de Nacimiento: {{ usuario.FechaNacimiento | date: 'dd/MM/yyyy' }}
                        </div>
                      </div>
                    </td>

                    <!-- CONTACTO -->
                    <td class="d-none d-lg-table-cell">
                      <div class="small d-flex flex-column gap-1">
                        <div>
                          <i class="bi bi-envelope-fill text-warning me-1"></i>
                          {{ usuario.Email }}
                        </div>

                        <div>
                          <i class="bi bi-telephone-fill text-primary me-1"></i>
                          {{ usuario.Telefono }}
                        </div>

                        <div>
                          <i class="bi bi-phone-fill text-success me-1"></i>
                          {{ usuario.Celular }}
                        </div>
                      </div>
                    </td>

                    <!-- ROL -->
                    <td class="text-center d-none d-lg-table-cell">
                      <span
                        class="badge px-3 py-2 fw-semibold"
                        [ngClass]="{
                          'bg-danger-subtle text-danger': usuario.Rol.Nombre === 'Administrador',
                          'bg-primary-subtle text-primary': usuario.Rol.Nombre === 'Usuario',
                          'bg-warning-subtle text-warning': usuario.Rol.Nombre === 'Editor',
                          'bg-info-subtle text-info': usuario.Rol.Nombre === 'Visualizador',
                          'bg-success-subtle text-success': usuario.Rol.Nombre === 'Auditor',
                          'bg-secondary-subtle text-secondary':
                            usuario.Rol.Nombre === 'Mantenimiento',
                        }"
                      >
                        @switch (usuario.Rol.Nombre) {
                          @case ('Administrador') {
                            <i class="bi bi-shield-fill-check me-1"></i> Administrador
                          }
                          @case ('Usuario') {
                            <i class="bi bi-person me-1"></i> Usuario
                          }
                          @case ('Editor') {
                            <i class="bi bi-pencil-square me-1"></i> Editor
                          }
                          @case ('Visualizador') {
                            <i class="bi bi-eye me-1"></i> Visualizador
                          }
                          @case ('Auditor') {
                            <i class="bi bi-clipboard-check me-1"></i> Auditor
                          }
                          @case ('Mantenimiento') {
                            <i class="bi bi-tools me-1"></i> Mantenimiento
                          }
                          @default {
                            <i class="bi bi-question-circle me-1"></i> {{ usuario.Rol.Nombre }}
                          }
                        }
                      </span>
                      <div class="text-muted">
                        <i class="bi bi-card-text me-1"></i>
                        Ultimo Acceso: {{ usuario.UltimoAcceso | date: 'dd/MM/yyyy - HH:mm' }}
                      </div>
                    </td>

                    <!-- DIRECCIONES -->
                    <td class="d-none d-lg-table-cell" style="min-width: 350px">
                      @if (usuario.Direcciones && usuario.Direcciones.length > 0) {
                        <ol class="list-group list-group-numbered">
                          @for (direccion of usuario.Direcciones; track direccion.IdDireccion) {
                            <li class="list-group-item py-3">
                              <div class="d-flex flex-column gap-1">
                                <div class="fw-semibold">
                                  <i class="bi bi-geo-alt-fill text-danger me-1"></i>
                                  {{ direccion.Calle }} {{ direccion.NumeroExterior }}
                                  @if (direccion.NumeroInterior) {
                                    #{{ direccion.NumeroInterior }}
                                  }
                                </div>

                                <div class="text-muted small">
                                  <i class="bi bi-building me-1"></i>
                                  {{ direccion.Colonia.Nombre }}
                                </div>

                                <div class="text-muted small">
                                  <i class="bi bi-globe me-1"></i>
                                  {{ direccion.Colonia.Municipio.Nombre }},
                                  {{ direccion.Colonia.Municipio.Estado.Nombre }}
                                </div>

                                <div class="text-muted small">
                                  <i class="bi bi-mailbox me-1"></i>
                                  CP: {{ direccion.Colonia.CodigoPostal }}
                                </div>
                              </div>
                            </li>
                          }
                        </ol>
                      } @else {
                        <span class="text-muted">
                          <i class="bi bi-geo-alt"></i> Sin direcciones
                        </span>
                      }
                    </td>

                    <!-- ESTADO -->
                    <td class="text-center d-none d-lg-table-cell">
                      <div class="d-flex flex-column align-items-center">
                        <span
                          class="badge rounded-pill mb-2 px-3 shadow-sm border"
                          [ngClass]="
                            usuario.Activo == 1
                              ? 'bg-success-subtle text-success border-success'
                              : 'bg-danger-subtle text-danger border-danger'
                          "
                        >
                          {{ usuario.Activo == 1 ? 'ACTIVO' : 'INACTIVO' }}
                        </span>

                        <div
                          class="form-check form-switch form-check-inline m-0 p-0 d-flex justify-content-center"
                        >
                          <input
                            class="form-check-input shadow-none"
                            type="checkbox"
                            role="switch"
                            style="width: 2.5em; height: 1.25em; cursor: pointer"
                            [checked]="usuario.Activo == 1"
                            (change)="cambiarEstado(usuario)"
                            [id]="'switch-' + usuario.IdUsuario"
                          />
                        </div>
                      </div>
                    </td>
                    <!-- ACCIONES -->
                    <td class="text-center">
                      <div class="d-flex flex-wrap justify-content-center gap-1">
                        <button
                          class="btn btn-sm btn-outline-info"
                          (click)="GetById(usuario.IdUsuario)"
                        >
                          <i class="bi bi-eye"></i>
                        </button>

                        <button class="btn btn-sm btn-outline-primary">
                          <i class="bi bi-pencil-square"></i>
                        </button>

                        <button class="btn btn-sm btn-outline-danger">
                          <i class="bi bi-trash"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
